In [14]:
import pandas as pd

In [15]:
GIAO_BAN_DATA = [
    {"id": 1, "doanh_nghiep": "Công ty TNHH ABC", "loai_to_khai": "Nhập khẩu", "luong": "Đỏ", "tri_gia": 1500000, "thue_suat": 10},
    {"id": 2, "doanh_nghiep": "Công ty CP XYZ", "loai_to_khai": "Xuất khẩu", "luong": "Xanh", "tri_gia": 2300000, "thue_suat": 8},
    {"id": 3, "doanh_nghiep": "Công ty TNHH Việt Nam", "loai_to_khai": "Nhập khẩu", "luong": "Vàng", "tri_gia": 3200000, "thue_suat": 12},
    {"id": 4, "doanh_nghiep": "Công ty CP Thương Mại", "loai_to_khai": "Xuất khẩu", "luong": "Đỏ", "tri_gia": 1800000, "thue_suat": 10},
    {"id": 5, "doanh_nghiep": "Công ty TNHH Đông Á", "loai_to_khai": "Nhập khẩu", "luong": "Xanh", "tri_gia": 4500000, "thue_suat": 15},
    {"id": 6, "doanh_nghiep": "Công ty CP Hải Phòng", "loai_to_khai": "Xuất khẩu", "luong": "Vàng", "tri_gia": 2700000, "thue_suat": 9},
    {"id": 7, "doanh_nghiep": "Công ty TNHH Thái Bình", "loai_to_khai": "Nhập khẩu", "luong": "Đỏ", "tri_gia": 1900000, "thue_suat": 11},
    {"id": 8, "doanh_nghiep": "Công ty CP Nam Định", "loai_to_khai": "Xuất khẩu", "luong": "Xanh", "tri_gia": 3600000, "thue_suat": 13},
    {"id": 9, "doanh_nghiep": "Công ty TNHH Hà Nội", "loai_to_khai": "Nhập khẩu", "luong": "Vàng", "tri_gia": 5200000, "thue_suat": 14},
    {"id": 10, "doanh_nghiep": "Công ty CP Sài Gòn", "loai_to_khai": "Xuất khẩu", "luong": "Đỏ", "tri_gia": 2100000, "thue_suat": 10},
    {"id": 11, "doanh_nghiep": "Công ty TNHH Đà Nẵng", "loai_to_khai": "Nhập khẩu", "luong": "Xanh", "tri_gia": 2900000, "thue_suat": 12},
    {"id": 12, "doanh_nghiep": "Công ty CP Cần Thơ", "loai_to_khai": "Xuất khẩu", "luong": "Vàng", "tri_gia": 4100000, "thue_suat": 11},
    {"id": 13, "doanh_nghiep": "Công ty TNHH Huế", "loai_to_khai": "Nhập khẩu", "luong": "Đỏ", "tri_gia": 1600000, "thue_suat": 9},
    {"id": 14, "doanh_nghiep": "Công ty CP Nghệ An", "loai_to_khai": "Xuất khẩu", "luong": "Xanh", "tri_gia": 3800000, "thue_suat": 13},
    {"id": 15, "doanh_nghiep": "Công ty TNHH Quảng Ninh", "loai_to_khai": "Nhập khẩu", "luong": "Vàng", "tri_gia": 4800000, "thue_suat": 15},
    {"id": 16, "doanh_nghiep": "Công ty CP Bình Dương", "loai_to_khai": "Xuất khẩu", "luong": "Đỏ", "tri_gia": 2400000, "thue_suat": 10},
    {"id": 17, "doanh_nghiep": "Công ty TNHH Đồng Nai", "loai_to_khai": "Nhập khẩu", "luong": "Xanh", "tri_gia": 3300000, "thue_suat": 12},
    {"id": 18, "doanh_nghiep": "Công ty CP Long An", "loai_to_khai": "Xuất khẩu", "luong": "Vàng", "tri_gia": 5500000, "thue_suat": 14},
    {"id": 19, "doanh_nghiep": "Công ty TNHH Vũng Tàu", "loai_to_khai": "Nhập khẩu", "luong": "Đỏ", "tri_gia": 2000000, "thue_suat": 11},
    {"id": 20, "doanh_nghiep": "Công ty CP Kiên Giang", "loai_to_khai": "Nhập khẩu", "luong": "Đỏ", "tri_gia": 4200000, "thue_suat": 13}
]

In [16]:
# Chuyển dữ liệu thành DataFrame
df = pd.DataFrame(GIAO_BAN_DATA)
df

    id             doanh_nghiep loai_to_khai luong  tri_gia  thue_suat
0    1         Công ty TNHH ABC    Nhập khẩu    Đỏ  1500000         10
1    2           Công ty CP XYZ    Xuất khẩu  Xanh  2300000          8
2    3    Công ty TNHH Việt Nam    Nhập khẩu  Vàng  3200000         12
3    4    Công ty CP Thương Mại    Xuất khẩu    Đỏ  1800000         10
4    5      Công ty TNHH Đông Á    Nhập khẩu  Xanh  4500000         15
5    6     Công ty CP Hải Phòng    Xuất khẩu  Vàng  2700000          9
6    7   Công ty TNHH Thái Bình    Nhập khẩu    Đỏ  1900000         11
7    8      Công ty CP Nam Định    Xuất khẩu  Xanh  3600000         13
8    9      Công ty TNHH Hà Nội    Nhập khẩu  Vàng  5200000         14
9   10       Công ty CP Sài Gòn    Xuất khẩu    Đỏ  2100000         10
10  11     Công ty TNHH Đà Nẵng    Nhập khẩu  Xanh  2900000         12
11  12       Công ty CP Cần Thơ    Xuất khẩu  Vàng  4100000         11
12  13         Công ty TNHH Huế    Nhập khẩu    Đỏ  1600000          9
13  14       Công ty CP Nghệ An    Xuất khẩu  Xanh  3800000         13
14  15  Công ty TNHH Quảng Ninh    Nhập khẩu  Vàng  4800000         15
15  16    Công ty CP Bình Dương    Xuất khẩu    Đỏ  2400000         10
16  17    Công ty TNHH Đồng Nai    Nhập khẩu  Xanh  3300000         12
17  18       Công ty CP Long An    Xuất khẩu  Vàng  5500000         14
18  19    Công ty TNHH Vũng Tàu    Nhập khẩu    Đỏ  2000000         11
19  20    Công ty CP Kiên Giang    Nhập khẩu    Đỏ  4200000         13

In [17]:
# Tổng hợp theo cả luồng và loại tờ khai
tong_hop_ket_hop = df.groupby(['luong', 'loai_to_khai']).agg({
    'tri_gia': ['sum', 'mean', 'count'],
    'thue_suat': 'mean'
}).round(2)
tong_hop_ket_hop.columns = ['Tổng trị giá', 'Trị giá TB', 'Số lượng', 'Thuế suất TB']
print("Tổng hợp theo Luồng và Loại tờ khai:")
tong_hop_ket_hop

Tổng hợp theo Luồng và Loại tờ khai:

                    Tổng trị giá  Trị giá TB  Số lượng  Thuế suất TB
luong loai_to_khai
Vàng  Nhập khẩu         13200000  4400000.00         3         13.67
      Xuất khẩu         12300000  4100000.00         3         11.33
Xanh  Nhập khẩu         10700000  3566666.67         3         13.00
      Xuất khẩu          9700000  3233333.33         3         11.33
Đỏ    Nhập khẩu         11200000  2240000.00         5         10.80
      Xuất khẩu          6300000  2100000.00         3         10.00

In [18]:
# Tổng hợp theo loại tờ khai
tong_hop_to_khai = df.groupby('loai_to_khai').agg({
    'tri_gia': ['sum', 'mean', 'count'],
    'thue_suat': 'mean'
}).round(2)
tong_hop_to_khai.columns = ['Tổng trị giá', 'Trị giá TB', 'Số lượng', 'Thuế suất TB']
print("Tổng hợp theo Loại tờ khai:")
tong_hop_to_khai

Tổng hợp theo Loại tờ khai:

              Tổng trị giá  Trị giá TB  Số lượng  Thuế suất TB
loai_to_khai
Nhập khẩu         35100000  3190909.09        11         12.18
Xuất khẩu         28300000  3144444.44         9         10.89

In [19]:
# Tổng hợp theo luồng
tong_hop_luong = df.groupby('luong').agg({
    'tri_gia': ['sum', 'mean', 'count'],
    'thue_suat': 'mean'
}).round(2)
tong_hop_luong.columns = ['Tổng trị giá', 'Trị giá TB', 'Số lượng', 'Thuế suất TB']
print("Tổng hợp theo Luồng:")
tong_hop_luong

Tổng hợp theo Luồng:

       Tổng trị giá  Trị giá TB  Số lượng  Thuế suất TB
luong
Vàng       25500000   4250000.0         6         12.50
Xanh       20400000   3400000.0         6         12.17
Đỏ         17500000   2187500.0         8         10.50